@import "_SassExtension";

#container {
  @include box;

  #box {
    .box_item {
      width: 2em;
      height: 2em;
      padding: 1px;
      margin: 4px;
      list-style-type: none;
      background-color: white;
    }
  }
}





